language: python
python:
  - "2.6"
  - "2.7"
  - "3.3"
env:
  - DJANGO_INSTALL="Django==1.4.5"
  - DJANGO_INSTALL="Django==1.5.1"
  - DJANGO_INSTALL="-e git+https://github.com/django/django.git@1.6b2#egg=Django"
install:
  - pip install -q $DJANGO_INSTALL
  - python setup.py -q install
script:  ./runtests.sh
matrix:
  exclude:
    - python: "3.3"
      env: DJANGO_INSTALL="Django==1.4.5"
    - python: "2.6"
      env: DJANGO_INSTALL="-e git+https://github.com/django/django.git@stable/1.6.x#egg=Django"
