sudo: false

# Following configures which base images are available to run tests
dist: trusty
language: python
python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"
  - "pypy"

install:
  - pip install tox-travis
script:
  - tox

matrix:
  include:
    - python: "2.7"
      env: TOXENV=flake8
# xenial is the only way to get 3.7, but xenial only supports 2.7/3.6/3.7
    - python: "3.7"
      dist: xenial
