# Requirements for executing tests in test environments
coverage
mock>=1.0.1
pytest-django>=3.0.0
pytest-cov>=2.4.0
flake8>=2.4.1
typing>=3.6.4

# Required to test default models
django-extensions>=1.6.0
django-autoslugged>=2.0.0.dev0

# Required for mocking signals
mock-django==0.6.9
