# Requirements for executing tests in test environments
coverage
mock>=1.0.1
pytest-django>=3.0.0
pytest-cov>=2.4.0
flake8>=2.4.1

# Required to test default models
django-extensions>=1.6.0
django-autoslug-iplweb>=1.9.4.dev0

# Required for mocking signals
mock-django==0.6.9
