# Requirements for executing tests in test environments
coverage
mock>=1.0.1
nose>=1.3.0
git+git://github.com/django-nose/django-nose.git#egg=django-nose

# Required to test default models
django-extensions>=0.9

# Required for mocking signals
git+git://github.com/bennylope/mock-django.git@5d3b6955f58db07e3096c9bd60b213a246c3ed4f#egg=mock-django
