{% extends "account_base.html" %}
{% block content %}
<h1>{{ account }}'s Members</h1>
<ul>
    <li><a href="{% url account_user_add account.pk %}">Add a member</a></li>
</ul>
<ul>
    {% for account_user in account_users %}
    <li>
        <a href="{{ account_user.get_absolute_url }}">{{ account_user }}</a>
        {% if not account_user.user.is_active %}<a href="{% url account_user_remind account_user.account.pk account_user.pk %}">Send reminder</a>{% endif %}
    </li>
    {% endfor %}
</ul>
{% endblock %}
